
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/dd.ico">

    <title>Create User Form</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form method="post" action="/create">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="text" name="comment" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit">ADD Customer</button>
        <br>
        Have An Account? <a class="btn btn-default btn-sm" href="/login">Login Now</a>
      </form>
    </div>
  </body>
</html>


